{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron txt-center">
<h1>Agence AMRI</h1>
<p>Paris, ville qui fascine grâce à ses nombreux musées, son architecture, sa tour Eiffel et sa gastronomie.<br/> Paris, ville de l'amour, ville des grandes déclarations, des nombreuses balades romantiques de Montmartre à Saint Germain, par le Marais ou le canal Saint Martin. <br/>Une ville attractive pour trouver votre location d'appartement ou votre achat d'appartement à Paris !

Mais Paris est aussi, le premier quartier d'affaires européen avec la Défense, ville ouverte à l'international, puissance économique mais aussi capitale innovante. Vous trouverez forcément votre bonheur à Paris!
</p>
</div>
{% endblock %}